@model IEnumerable<DispensarioMedicoUnapec.Models.Tipo_Farmaco>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Farmacos</h1>

<p>
    <a asp-action="Create">Agregar nuevo tipo de farmacos</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoFarmaco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoFarmaco)
                </td>
                <partial name="_MenuOptions" model="item.Id" />

            </tr>
        }
    </tbody>
</table>
